input{
    min-width:100vw;
  }
  button{
    padding:20px;
    margin-top:20px;
  }
  .video-container {
      margin-bottom: 10px;
      position: relative;
    }
    .video-number {
      position: absolute;
      top: 5px;
      left: 5px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 5px;
      border-radius: 5px;
    }
  video{
    max-width:400px;
  }

  #buttonsContainer{
    max-width: 800px;
  }

 